/* Aplica a todo el body o html para ocultar el desbordamiento horizontal */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Esto evita que se genere scroll horizontal */
}

.section {
  background: rgb(141, 187, 161);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100vw; /* Asegura que el footer ocupe el 100% del ancho de la ventana */
}

.section img {
  height: 40px;
  margin-right: 100px;
  margin-left: 100px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .section {
    justify-content: center;
    padding: 20px;
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
  }


 /* Ajuste de padding si es necesario */
.section img {

 margin-right: 50px;
 margin-left: 50px;

}
  
}
