.navbar {
  background: white;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navbar a {
  color: rgb(28, 28, 107);
  font-family: 'Times New Roman', Times, serif;
  padding-left: 85px;
  font-size: 28px;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}

.navbar ul {
  display: flex;
  padding-right: 100px;
  margin: 0;
  list-style-type: none;
  justify-content: center;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 990px) {
  .navbar {
    height: auto;
    flex-direction: column; /* Cambia el layout a columna */
    justify-content: flex-start; /* Alinea los items a la izquierda */
    padding: 0px; /* Agrega algo de padding */
  }

  .navbar ul {
    flex-direction: column; /* Los elementos se apilan en columna */
    align-items: flex-start; /* Alinea los items a la izquierda */
    padding-left: 0; /* Quita el padding extra */
  }

  .navbar a {
    padding-left: 0; /* Quita el padding de los enlaces */
    font-size: 22px; /* Ajusta el tamaño de la fuente */
   /* margin: 10px 0;  Agrega margen entre los enlaces */
   margin-top: 2px;
  }

  .navbar a:first-child {
    padding-left: 0; /* Quita el padding de 'María José Alvarez' */
  }
}
