/* section {
    height: auto;
} */

.portfolio-columns::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color:  rgb(98, 98, 98);
  transform: translateX(-50%);
}